@charset "UTF-8";
.mui-table-view:after{
    height: 0;
}
img{
    width: 100%;
}
i,b,em{
    font-style: normal;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
//改写头部样式
.mui-bar{
    background-color: #1ca5ff;
}
.mui-title{
    color: #fff;
}
.mui-bar a{
    width:40px;
//  height: 60px;
//  padding: 0;
    color: #fff;
    font-weight: 800;
    img{
        width: 100%;
    }
}
.list{
    margin-top: 0 !important;
    li{
        padding: 10px 25px 10px 10px;
        p:first-child{
            display: flex;
            align-items: center;
            i{
                color: #f60;
                margin-right: 10px;
            }
        }
        p:last-child{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
            span{
                display: flex;
                align-items: center;
                em{
                    display: inline-block;
                    width:20px;
                    height:20px;
                    margin-right: 10px;
                }
            }
            
        }
        
    }
}
.mui-table-view-cell:after{
    left: 0;
    background: #eee;
}
